<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domominer - Home</title>
    <!--Poppins font style--> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../fonts/remixicon.css">
</head>
<body>
    <div class="container--home">
        <div class="side__menu">
            <div class="side__title">
                <span style="color: #4286f3;">D</span>omominer
            </div>
            <nav class="side__nav">
                <a href="#" class="side__item side__active">
                    <i class="ri-home-2-line side__icon"></i><span class="side__text">Minadoras</span>
                </a>
                <a href="#" class="side__item">
                    <i class="ri-bank-card-2-line side__icon"></i><span class="side__text">Rentas</span>
                </a>
                <a href="#" class="side__item">
                    <i class="ri-money-dollar-box-line side__icon"></i><span class="side__text">Tasa de cambio</span>
                </a>
            </nav>
        </div>
        <section class="main__section flex flex-jc-sb">
            <div class="panel">
                <div class="panel__title flex flex-jc-sb flex-ai-c">
                    <h2 class="panel__h2">Minadoras</h2>
                    <span>Bienvenido de vuelta, <b>Ricky Zheng</b></span>
                </div>
                <div class="filters flex flex-jc-sb flex-ai-c">
                    <div class="filter__item flex flex-jc-sb flex-ai-c">Estado de encendido<i class="ri-arrow-down-s-line filter__icon"></i></div>
                    <div class="filter__item flex flex-jc-sb flex-ai-c">Duración de encendido<i class="ri-arrow-down-s-line filter__icon"></i></div>
                    <div class="filter__item flex flex-jc-sb flex-ai-c">consumo eléctrico<i class="ri-arrow-down-s-line filter__icon"></i></div>
                    <div class="filter__search flex flex-jc-sb flex-ai-c"><i class="ri-search-line filter__icon"></i></div>
                </div>
                <div class="machine__section">
                    <!-- maquina 1 -->
                    <div class="machine">
                        <div class="left-side">
                            <i class="ri-computer-line machine__icon"></i>
                            <div class="left-sec1">
                                <div>
                                    <h2 class="machine__name">Antminer S13</h2>
                                    <span class="machine__model">S13 Profesional enterprise</span>
                                </div>                                
                                <span class="machine__cod">Product-ID: 01</span>
                            </div>
                            <div class="left-sec2">
                                <div class="sec2-1">
                                    <div class="flex flex-ai-c">
                                        <span class="spec spec--temp">75°C</span>
                                        <i class="ri-alert-fill sec2-icon"></i>
                                    </div>
                                    <div class="flex">
                                        <span class="spec spec--consum">1.2KWh</span>
                                        <span class="spec spec--vel">1.2TH/s</span>
                                    </div>
                                </div>
                                <div class="sec2-2">
                                    <div class="sec2-2-c">14-03-2021 01:52pm</div>
                                    <div class="sec2-2-c">
                                        <span>Velocidad proces.</span>
                                        <i class="ri-arrow-down-s-line sec2-2-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <span>Estado de encendido</span>
                            <span class="estado">Encendido</span>
                            <div class="button button-estado">encender/apagar</div>
                        </div>
                    </div>
                    <!-- fin maquina 1 -->
                    <!-- maquina 1 -->
                    <div class="machine">
                        <div class="left-side">
                            <i class="ri-computer-line machine__icon"></i>
                            <div class="left-sec1">
                                <div>
                                    <h2 class="machine__name">Antminer S13</h2>
                                    <span class="machine__model">S13 Profesional enterprise</span>
                                </div>                                
                                <span class="machine__cod">Product-ID: 01</span>
                            </div>
                            <div class="left-sec2">
                                <div class="sec2-1">
                                    <div class="flex flex-ai-c">
                                        <span class="spec spec--temp">75°C</span>
                                        <i class="ri-alert-fill sec2-icon"></i>
                                    </div>
                                    <div class="flex">
                                        <span class="spec spec--consum">1.2KWh</span>
                                        <span class="spec spec--vel">1.2TH/s</span>
                                    </div>
                                </div>
                                <div class="sec2-2">
                                    <div class="sec2-2-c">14-03-2021 01:52pm</div>
                                    <div class="sec2-2-c">
                                        <span>Velocidad proces.</span>
                                        <i class="ri-arrow-down-s-line sec2-2-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <span>Estado de encendido</span>
                            <span class="estado">Encendido</span>
                            <div class="button button-estado">encender/apagar</div>
                        </div>
                    </div>
                    <!-- fin maquina 1 -->
                    <!-- maquina 1 -->
                    <div class="machine">
                        <div class="left-side">
                            <i class="ri-computer-line machine__icon"></i>
                            <div class="left-sec1">
                                <div>
                                    <h2 class="machine__name">Antminer S13</h2>
                                    <span class="machine__model">S13 Profesional enterprise</span>
                                </div>                                
                                <span class="machine__cod">Product-ID: 01</span>
                            </div>
                            <div class="left-sec2">
                                <div class="sec2-1">
                                    <div class="flex flex-ai-c">
                                        <span class="spec spec--temp">75°C</span>
                                        <i class="ri-alert-fill sec2-icon"></i>
                                    </div>
                                    <div class="flex">
                                        <span class="spec spec--consum">1.2KWh</span>
                                        <span class="spec spec--vel">1.2TH/s</span>
                                    </div>
                                </div>
                                <div class="sec2-2">
                                    <div class="sec2-2-c">14-03-2021 01:52pm</div>
                                    <div class="sec2-2-c">
                                        <span>Velocidad proces.</span>
                                        <i class="ri-arrow-down-s-line sec2-2-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <span>Estado de encendido</span>
                            <span class="estado">Encendido</span>
                            <div class="button button-estado">encender/apagar</div>
                        </div>
                    </div>
                    <!-- fin maquina 1 -->
                </div>
            </div>
            <!-- Side Widget -->
            <div class="side__widget">
                <div class="perfil">
                    <div class="perfil-left">
                        <i class="ri-user-3-line perfil-icon"></i>
                        <span class="perfil-name">Ricky Zheng</span>
                    </div>                    
                    <div class="perfil-right">
                        <div class="perfil-dot"></div>
                        <div class="perfil-dot"></div>
                        <div class="perfil-dot"></div>
                    </div>
                </div>
                <div class="widget">
                    <h2 class="widget-title">Minadoras</h2>
                    <div class="widget-1">
                        <h3>
                            Total
                        </h3>
                        <div class="widget-content widget-content-blue">
                            1
                        </div>
                    </div>
                    <div class="widget-1">
                        <h3>
                            Activos
                        </h3>
                        <div class="widget-content">
                            1
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>