<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domominer - Tasa de cambio</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/tasa_cambio.css">
    <link rel="stylesheet" href="../fonts/remixicon.css">
</head>
<body>
    <div class="container--home">
        <!-- side_menu -->
        <div class="side__menu">
            <div class="side__title">
                <span style="color: #4286f3;">D</span>omominer
            </div>
            <nav class="side__nav">
                <a href="#" class="side__item">
                    <i class="ri-home-2-line side__icon"></i><span class="side__text">Minadoras</span>
                </a>
                <a href="#" class="side__item">
                    <i class="ri-bank-card-2-line side__icon"></i><span class="side__text">Rentas</span>
                </a>
                <a href="#" class="side__item side__active">
                    <i class="ri-money-dollar-box-line side__icon"></i><span class="side__text">Tasa de cambio</span>
                </a>
            </nav>
        </div>
        <!-- side_menu end -->
        <!-- Panel section -->
        <section class="main__section flex flex-jc-sb">
            <div class="panel">
                <div class="panel__title flex flex-jc-sb flex-ai-c">
                    <h2 class="panel__h2">Tasa de cambio</h2>
                    <span>Bienvenido de vuelta, <b>Ricky Zheng</b></span>
                </div>
                <!-- Aquí va el contenido -->
                <div class="container__tasacambio">
                    <div class="exchange-card exchange-card-active">
                        <h3 class="exchange-title">Dolar</h3>
                        <i class="ri-exchange-dollar-line exchange-icon"></i>
                        <span class="exchange-currency">1 Dolar/KWh</span>
                    </div>
                    <div class="exchange-card">
                        <h3 class="exchange-title">Yen</h3>
                        <i class="ri-exchange-dollar-line exchange-icon"></i>
                        <span class="exchange-currency">120 Yen/KWh</span>
                    </div>
                    <div class="exchange-card">
                        <h3 class="exchange-title">Peso Colombiano</h3>
                        <i class="ri-exchange-dollar-line exchange-icon"></i>
                        <span class="exchange-currency">3575 Peso Colombiano/KWh</span>
                    </div>
                    <div class="exchange-card">
                        <h3 class="exchange-title">Euro</h3>
                        <i class="ri-exchange-dollar-line exchange-icon"></i>
                        <span class="exchange-currency">0.95 Euro/KWh</span>
                    </div>
                </div>
            </div>
            <!-- widget -->
            <div class="side__widget">
                <div class="perfil">
                    <div class="perfil-left">
                        <i class="ri-user-3-line perfil-icon"></i>
                        <span class="perfil-name">Ricky Zheng</span>
                    </div>                    
                    <div class="perfil-right">
                        <div class="perfil-dot"></div>
                        <div class="perfil-dot"></div>
                        <div class="perfil-dot"></div>
                    </div>
                </div>
                <div class="widget">
                    <h2 class="widget-title">Minadoras</h2>
                    <div class="widget-1">
                        <h3>
                            Total
                        </h3>
                        <div class="widget-content widget-content-blue">
                            1
                        </div>
                    </div>
                    <div class="widget-1">
                        <h3>
                            Activos
                        </h3>
                        <div class="widget-content">
                            1
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget end -->
        </section>
        <!-- panel section end -->
    </div>
</body>
</html>