<div class="side__widget">
    <div class="perfil">
        <div class="perfil-left">
            <i class="ri-user-3-line perfil-icon"></i>
            <span class="perfil-name">Ricky Zheng</span>
        </div>                    
        <div class="perfil-right">
            <div class="perfil-dot"></div>
            <div class="perfil-dot"></div>
            <div class="perfil-dot"></div>
        </div>
    </div>
    <div class="widget">
        <h2 class="widget-title">Minadoras</h2>
        <div class="widget-1">
            <h3>
                Total
            </h3>
            <div class="widget-content widget-content-blue">
                1
            </div>
        </div>
        <div class="widget-1">
            <h3>
                Activos
            </h3>
            <div class="widget-content">
                1
            </div>
        </div>
    </div>
</div>